*{
    font-family: 'Josefin Sans', sans-serif;
}

.card-forms{
    background-color: #2b6abd9c;
    color: white;
    border-radius: 5px;
}

.resize{
    resize: none;
}

.bg-red{
    background-color: #b4202e;
    background: linear-gradient(to bottom, #b4202e, #d31125);
}

/* #grad{
    background: linear-gradient(to bottom right, #b4202e, #ff6a76);

} */

.bg-blue{
    background-color: #114c92;
    background: linear-gradient(to bottom, #114c92, #0b366b)
}

.icon-blue{
    color: #1864c1;
}

.icon-red{
    color: rgb(239, 182, 37);
}

.navbar{
    /* background-color: #b4202e; */
    color: black;
    padding: 0;
    box-shadow: .5px .5px 5px black;
}

.bg-image{
    background-image: url(spider2.gif);
    background-size: cover;
    background-position: center;
}

.shadow{
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.checkbox-text{
    font-size: small;
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.bg-web{
    background-image: url(web.jpeg);
}

.card-text{
    font-size: medium;
}

.point-img{
    height: 20em;
    max-width: 100%;
    background-color: rgb(18, 18, 18);
}

.button-link{
    background-color: gray;
    border-color: black;
    height: 15px;
    width: 50px;
    
}

.magic-button{
    transform: translateX(12vw) translateY(-3.5vh)
}

@media (max-width: 767px){
    .button-link{
        display: none;
    }
}

.glass-card{
    background-color: rgba(255, 255, 255, 0);
}

.glass-card-hidden{
    background-color: rgba(255, 255, 255, 0);
    border-left: 5px solid #df0e23;
    padding-left: 1em;
    margin-top: 5em;
}

.position-relative{
    position: relative;
}


@media (min-width: 767px){
    #card-overlap{
        position: absolute;
        max-width: 95%
    }
}


@media (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }
}


/* .video-container{
    position: relative;
} */


/* frame {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 480px;
    height: 480px;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
} */

/* video#bgvideo{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
} */


input{
    accent-color: #114c92;
    height: 40px;
    width: 40px;
}

.btn-success{
    background-color: rgb(249, 189, 37) !important;
}

.btn-outline-success{
    background-color: rgb(249, 189, 37) !important;
    color: white !important;
    border-color: #2b6bbd !important;
}

.padding-9{
    padding-top: 12em;
}

@media (max-width: 767px){
    .padding-9{
        padding-top: 1em;
    }
}